@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
.cards{
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    background-color: white;
    text-shadow: 0px 1px 2px lightgray;
}
/* .cards p, .cards h1{
    text-shadow: 0px 1px 2px lightgray;
} */
.parent{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
#black{
    background-color: black;
    color:white;
    text-shadow: 0px 1px 2px ivory;
}
#highlight{
    background-color: lightcoral;
    box-shadow: 0px 1px 2px lightgray;
    text-shadow: none;
}